@tailwind base;
@tailwind components;
@tailwind utilities;


.examCountLabel {
  background-color: #e6f0f0;
  border-radius: 10px 10px 0px 0px;
}
.tExamCount {
  background-color: #eb504e;
  border-radius: 0px 0px 10px 10px;
  color: #ffffff;
}
.aExamCount {
  background-color: #50af51;
  border-radius: 0px 0px 10px 10px;
  color: #ffffff;
}
.uExamCount {
  background-color: #007298;
  border-radius: 0px 0px 10px 10px;
  color: #ffffff;
}
.atExamCount {
  background-color: #f5a623;
  border-radius: 0px 0px 10px 10px;
  color: #ffffff;
}
.subjectViewButton:hover {
  background-color: '#007298';
  color: '#fff';
}